body {
  background-color: #e6fff3;
}

#backgroundpic h2 {
  color: white;
}

#backgroundpic h1 {
  color: white
}

#backgroundpic {
  background: url("http://cdn.pcwallart.com/images/tropical-island-sunset-wallpaper-1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.bottominfo {
  background-color: black;
  color: white;
}

.btn-twitter {
  color: black;
}

.btn-instagram {
  color: black;
}

.btn-snapchat {
  color: black;
}

#phone_email {
  text-align: left left;
}
