
body
{
background: url('holidays.jpg');
}
h1 {
  color: Turquoise
}
h2{
  color: Orange
}
p{
  color: Blue
}
p2 {
  color: Purple
}
ul {
  color: Red
}
h3 {
  color: #B228B4
}
p3 {
  color: #B428A3
}
ol {
  color: #8258FA
}
p4 {
  color: #FE2EF7
}
